@import '../../style/common.scss';

.course-page {
    height: 100%;
    .common {
        padding: 20px;
        @include text-overflow;
        @include font-style(#717171, 20px, bold);
    }

    &-color {
        @extend .common;
        border: 2px solid blue;
    }
}